.App {
  text-align: center;
}

.main-heading {
  font-size: 48px;
  font-weight: 800;
  line-height: 99px;
  margin-top: 70px;
}

.main-sub-heading {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 100.6px;
}

.px {
  padding-left: 160px;
  padding-right: 160px;
}

@media only screen and (max-width: 568px) {
  .main-heading {
    font-size: 23px;
    line-height: 27.6px;
    margin-top: 58px;
    margin-bottom: 71px;
  }
  .main-sub-heading {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 64.3px;
  }
}